header
{
    display: block;
    text-align: center;
}


body {
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px
}

.Overview a
{
    text-decoration: none;
    color: black;
    position: relative
}

.Overview a:hover
{
    color: ivory
}

.Overview a::after
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: gold;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.Overview a:hover::after
{
    transform: scaleX(1);
}

@media (max-width: 720px) 
{
    .Images figure 
    {
      width: 90%;
      max-width: 400px;
      text-align: center;
    }
  
    .Images img 
    {
      display: block;
      width: 100%;
      height: auto;
    }
}
  